<div class="container">
  <div class="row">

    <!-- Friendly Player Stats -->
    <div class="col-md-3" style="background-color: #E3EBFD; height: 500px">
      <h2>Power A</h2>
      <p>Health: <b>{{ friendlyCurrentHealth }} / {{ friendlyHealth }}</b></p>
      <p>Attack: <b>{{ friendlyMinAttack }} - {{ friendlyMaxAttack }}</b></p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" [style.width.%]="prstHealth(friendlyHealth, friendlyCurrentHealth)">
          <span class="progress-text">{{ prstHealth(friendlyHealth, friendlyCurrentHealth) }}%</span>
        </div>
      </div>
    </div>

    <!-- Center -->
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="onFight()">Fight</button>
      <p>{{ status }}</p>
      <button class="btn bg-info" (click)="resetStats()">Reset</button>
      <div class="row">
        <div class="col-md-6">
          <p *ngFor="let log of friendlyCombatLog">Friendly hits Enemy for <span style="color: blue;">{{ log }}</span></p>
        </div>
        <div class="col-md-6">
          <p *ngFor="let log of enemyCombatLog">Enemy hits Friendly for <span style="color: red;">{{ log }}</span></p>
        </div>
      </div>
    </div>

    <!-- Target Stats -->
    <div class="col-md-3" style="background-color: #E3EBFD; height: 500px">
      <h2>Power B</h2>
      <p>Health: {{ enemyCurrentHealth }} / {{ friendlyHealth }}</p>
      <p>Attack: {{ enemyMinAttack }} - {{ enemyMaxAttack }}</p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" [style.width.%]="prstHealth(enemyHealth, enemyCurrentHealth)">
          <span class="progress-text">{{ prstHealth(enemyHealth, enemyCurrentHealth) }}%</span>
        </div>
      </div>
    </div>
  </div>
</div>
